# Gradle
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android / IDE
local.properties
*.apk
*.aab
*.keystore
captures/
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
*.iml
.idea/
